.gitignore
dataset/everyday_deform/*
logs/*
wandb/*
outputs/*
build/
*.zip



# Ignore everything in these folder
dataset/processed/*
dataset/raw/*

# But not these files...
!dataset/processed/dummy.txt
!dataset/raw/dumyy.txt


# vs code
.vscode/*
.vscode/settings.json


# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]
*$py.class

# C extensions
*.so
*.ply
*.stl
*.pth
